.mainDiv{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}